[Unit]
Description=gpg4win to WSL connector for GPG (S.gpg-agent)
Requires=gpg-agent.socket gpg-agent-launch.service
After=gpg-agent-launch.service

[Service]
Type=simple
ExecStart=%npr_path% -ep -ei -s -a '%gpg_path_win_socket%'
StandardInput=socket

[Install]
WantedBy=default.target
