[Unit]
Description=Launch Windows gpg-agent for WSL relay

[Service]
Type=oneshot
ExecStart=%gpgconf_path% --launch gpg-agent
RemainAfterExit=yes

[Install]
WantedBy=default.target
