[Unit]
Description=gpg4win to WSL connector for SSH
Requires=gpg-agent-ssh.socket

[Service]
Type=simple
ExecStart=%h/.local/bin/npiperelay.exe -v -p -ei -s '//./pipe/openssh-ssh-agent'
StandardInput=socket
StandardError=journal

[Install]
WantedBy=default.target
